<div class="center hero-unit">
  <h1>Sports & Entertainmnet Pools and Fantasy Leagues</h1>

  <h2>Pools and Fantasy leagues to tickle your sports and reality television fantasy
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

