

<div class="center hero-unit">
  <h1>Seth B.'s 9th Annual Bowl Extravaganza</h1>

  <h2>Seth B.'s 9th Annual Bowl Extravaganza
  </h2>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>

