@import "bootstrap";

@mixin box_shading {
background-image: -moz-linear-gradient(center top , #B8E6B8, #C6EBC6);
}
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
@mixin background_image {
  background-image: linear-gradient( bottom, rgb(186,188,196) 0%, rgb(240,250,242) 100%);
  background-image: -o-linear-gradient( bottom, rgb(186,188,196) 0%, rgb(240,250,242) 100%);
  background-image: -moz-linear-gradient( bottom, rgb(186,188,196) 0%, rgb(240,250,242) 100%);
  background-image: -webkit-linear-gradient( bottom, rgb(186,188,196) 0%, rgb(240,250,242) 100%);
  background-image: -ms-linear-gradient( bottom, rgb(186,188,196) 0%, rgb(240,250,242) 100%);

  background-image: -webkit-gradient( linear, bottom, left top, color-stop(0, rgb(186,188,196)), color-stop(1, rgb(240,250,242))
);}

html{
    min-height: 100%;
}

body {
  @include background-image;
  background-size: cover;
  }

.opacity{
    background-color:#ffffff;
    min-height: 400px;
    opacity:0.8;
    color: black;
}


.navbar-inner{
    @include box_shading;
}

header {
    .topline{  
        color: #000000;
        float: right;
        font-weight: bold;
        margin-left: 20px;
        padding-left: 0;
        padding-right: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
        transition: all 0.2s linear 0s;
        line-height:  1;
        display: block;
        padding-top:20px;
    }

    h1 {
        line-height: 100px;
        border-radius: 6px 6px 0 0;
        text-align: center;color:black;
    }

    .navigation-bar{
        .navbar-inner{
            border-radius: 0 0 4px 4px;
        }
    }

    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background-color: #D8F3D8;
        color: #B8E6B8;
        text-decoration: none;
    }
    .navbar {
        .divider-vertical {
            background-color: #D8F3D8;
            border-right: 2px solid #D8F3D8;
        }
        .nav > li > a{
            color: #3C963C;
        }
    }
}


.hero-unit {
    background: inherit;
}

.main-info {
    min-height: 200px;
}

/*FOOTER*/ 
.footer{
    .navbar{
        width:940px;
   }
    .nav {
        float:right;
    }
    .navbar .nav > li > a {
        color:black
    }
    .bottomline > a{
        position: relative;
        right: 400px;
        display: block;
    }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/*SIGNUP PAGE*/
.signup{
    h1{text-align:center}

    input, textarea, select, .uneditable-input {
      border: 1px solid #bbb;
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      @include box_sizing;
      padding:1px;
    }

    input {
      height: 22px !important;
    }

  #first-name{
    clear: both;
    width: 40%;
    float: left;
    margin-right:5%
  }

  #middle-initial{
    width: 10%;
    float: left;
    margin-right: 5%;

  }
   #last-name{
    width:40%;
    float:left;
}
.email{
    clear:both;
}

  #city{
    clear: both;
    width: 40%;
    float: left;
    margin-right: 5%;
  }

  #country-choice{
    float: left;
    width: 20%;
    margin-right: 5%;
    height: auto !important;
    #country{
      height: auto !important;
    }
  }

    #state-choice{
      padding-right: 0;
      width: 25%;
      float: left;
      margin-right: 5%;
      height: 22px !important;
      #state{
        font-size: 13px;
        height: 22px;
        line-height: 22px;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
      }
    }

    #zip{
      float: left;
      width: 25%;
    }

    #email{
      clear:both;
      float: left;
      width: 45%;
      margin-right: 5%;
    }

    #twitter{
      float: right;
      width: 45%;
    }

    #password{
      clear:both;
      float: left;
      width: 45%;
      margin-right: 5%;
    }

    #password-confirmation{
      float: right;
      width: 45%;
    }
}