@import "bootstrap";

/*VARIABLES*/
$navbar-background-color: #2C2C2C;
$navbar-font-color: white;

@mixin box_shading($bottom_color,$top_color) {
  background-image: linear-gradient(center top , $bottom_color,$top_color);
  background-image: -o-linear-gradient(center top , $bottom_color,$top_color);
  background-image: -moz-linear-gradient(center top , $bottom_color,$top_color);
  background-image: -webkit-linear-gradient(center top , $bottom_color,$top_color);
  background-image: -ms-linear-gradient(center top , $bottom_color,$top_color);
  background-image: -webkit-gradient(center top , $bottom_color,$top_color);
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin background_image($bottom_color,$top_color) {
  background-image: linear-gradient( bottom, $bottom_color, $top_color);
  background-image: -o-linear-gradient( bottom, $bottom_color, $top_color);
  background-image: -moz-linear-gradient( bottom, $bottom_color, $top_color);
  background-image: -webkit-linear-gradient( bottom, $bottom_color, $top_color);
  background-image: -ms-linear-gradient( bottom, $bottom_color, $top_color);
  background-image: -webkit-gradient( linear, bottom, left top, color-stop(0, $bottom_color), color-stop(1, $top_color));
}

.error_explanation {
  padding: 2px;
  color: red;
  border: 1px solid black;
  background-color: #FFFFCC;
  margin-bottom: 5px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
html {min-height: 100%;}

body {
  @include background-image($bottom_color: #BABCC4 ,$top_color: #F0FAF2);
  background-size: cover;
  .container {
    background-color:#ffffff;
    min-height: 400px;
  }
}

header {
  .navbar-inner{ background-color: #666666;}
  .topline{  
    color:white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
    display: block;
    list-style: none outside none;
    position: relative;
    top: 8px;
    a {color: white;}
    .caret {border-top: 4px solid white;}
    ul > li >a {color:black;}
  }
  form {margin:0;}
  label {display:inline;}
  input, textarea {width:150px;}
  input[type="text"], input[type="password"] {padding:2px;}
  .navbar .btn {margin: 0 5px 8px;}
}


.navbar {
  margin-bottom: 0;
  .divider-vertical {
    background-color: #D8F3D8;
    border-right: 2px solid #D8F3D8;
  }
  .nav > li > a{color: $navbar-font-color;}
  .nav > li > a:hover {
    background-color: lighten($navbar-background-color, 10%);
    color: darken($navbar-font-color,20%);
  }
}

.title-box {
  @include background_image($bottom_color: #F0FAF2, $top_color: #BABCC4) ;
  padding: 60px 0;
  h1, h4 {  
    text-align: center;
    color:black;
  }
}

.main-info {min-height: 200px;}

.hero-unit {background-color: white;}

.footer{
  .bottomline{
    position: relative;
    top: 8px;
    color: white;
  }
  .navbar .nav > li > a {
    color:$navbar-font-color;
    padding: 0;
    margin-left: 30px;
  }
  .nav > li > a:hover {
    background-color: inherit;
    color: darken($navbar-font-color,20%);
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.signup{
  h1, h5{
  text-align:center}
 .row{margin-top: 10px;}
  input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
  padding:1px;
  color:black;
  }
  input {height: 22px !important;}
  .first-name{
    clear: both;
    width: 40%;
    float: left;
    margin-right:5%
  }
  .middle-initial{
    width: 10%;
    float: left;
    margin-right: 5%;
    height: 22px !important;
  }
   .last-name{
    width:40%;
    float:left;
  }
  .city{
    clear: both;
    width: 40%;
    float: left;
    margin-right: 5%;
  }
  .country-choice{
    float: left;
    width: 20%;
    margin-right: 5%;
    height: auto !important;
    .country{
      height: auto !important;
    }
  }
  .state-choice{
    padding-right: 0;
    width: 25%;
    float: left;
    margin-right: 5%;
    height: 22px !important;
    .state{
      font-size: 13px;
      height: 22px;
      line-height: 22px;
      border-radius: 3px 3px 3px 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    }
  }
  .zip{
    float: left;
    width: 25%;
  }
  .email{
    clear:both;
    float: left;
    width: 45%;
    margin-right: 5%;
  }
  .email-confirmation{
    float: right;
    width: 45%;
  }
  .password{
    clear:both;
    float: left;
    width: 45%;
    margin-right: 5%;
  }
  .password-confirmation{
    float: right;
    width: 45%;
  }
  
  .field_with_errors {
    @extend .control-group;
    @extend .error;
  }
  .control-group.error .checkbox, .signup .field_with_errors .checkbox, .control-group.error .radio, .signup .field_with_errors .radio, .control-group.error input, .signup .field_with_errors input, .control-group.error select, .signup .field_with_errors select, .control-group.error textarea, .signup .field_with_errors textarea{ color:black}
  .control-group, .signup .field_with_errors{ margin-bottom:0;}
  select, input[type="file"] {
    height: 22px;
    line-height: 22px;
    border-radius: 3px 3px 3px 3px;
  } 
}

.edit-profile{
  @extend .signup;
  h1{margin: 80px 0 25px;}
  .title-line{
    display: inline;
    width: 50%;
  }
  .gravatar {
    left: 250px;
    position: relative;
    top: 30px;
  }
  a {
    position: relative;
    left: 170px;
    top: 130px;
  }
  button.btn, input.btn[type="submit"] {
    color: white;
    margin: 0 30%;
    width: 30%;
    border: 1px solid black;  
  }
 }


.signin-page {
  .btn {
    display: block;
    clear: both;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}