<footer class="footer">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="bottomline">
				<span class="pull-left">Sports & Entertainmnet Pools and Fantasy Leagues</span>
				<nav>
					<ul class="nav pull-right">
						<li><a href="https://twitter.com/#!/search/realtime/sethbaltshuler" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large" title="@sethbaltshuler">Follow @twitter</a></li>
						<li><a href="mailto:sethb78@gmail.com">Email Me</a></li>
					</ul>
				</nav>
				</div>
		</div>
	</div>
</footer>