<header>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			 	<a class="topline" href="#"> Welcome User/Signin</a>
			</div>
		</div>
			<h1>Sports & Entertainmnet Pools and Fantasy Leagues</h1>
		<div class="navigation-bar">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
		    			<li class="active">
		    			     <%= link_to "Game Home", root_path %>
		    			</li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Rules", rules_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Contact", contact_path %></li>
		    			<li class="divider-vertical"></li>
		    		</ul>
				</div>
			</div>
		</div>
	</div>
</header>